<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../css/style.videojocs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Wii Sports</title>
    <link rel="icon" href="../img/logowii.png">

</head>
<body class="wiifondo">
  <header class="wii">
      <div class="container text-center">
          <div class="row align-items-start">
            <div class="col">
              <a href="../index.html"><p>Inicio</p></a>
            </div>
            <div class="col">
              <p id="titulo1"> Wii Sport</p>
            </div>
            <div class="col">
              <a href="./videojoc5.html"><p>Siguiente Juego --></p></a>
            </div>
          </div>
        </div>
  </header>
  <br> 
  <div class="fila1">
      <div col-izq>
          <img id="fotoprincipal4" src="../img/wiii.png">
      </div>
      <div class="col-der">
          <p id="wiiini">Precio: 5€</p>
          <p id="textowii">Wii Sports es un videojuego que se incluye con la consola Wii de Nintendo, exceptuando Japón. Consta de 5 juegos, cada uno un deporte, que aprovecha las capacidades del wiimote. Los deportes que se pueden practicar con el golf, tenis, bolos, beisbol y boxeo. También se pueden hacer pruebas para mejorar las habilidades en los distintos deportes. Para jugar podremos elegir a un Mii (los personajes virtuales que creamos en el canal Mii). También tendremos la posibilidad de jugar con Miis invitados, pero no subirán de nivel, gracias a el control de la Wii podremos simular los movimientos de cada uno de los deportes. Solo tendremos que usar el nunchako en el boxeo para poder así usar ambos puños para noquear al rival.</p>
          <iframe class="video4" src="https://www.youtube.com/embed/zqaPFAZS1K8?si=u25CXfAK1Jr5zn_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      </div>
      <br>
    </div>
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <p>Valoración:</p>
            <img src="../img/estrellas-300x133.webp" class="valoracion"> </div>
        <div class="col">
          <p>PEGI:</p>
          <img src="../img/pegi7.png" class="pegi">
        </div>
        <div class="col">
          <p>Compralo aqui!!</p>
          <a href="https://www.game.es/VIDEOJUEGOS/DEPORTES/WII/WII-SPORTS/050146"><img src="../img/game.png" class="game"></a>
        </div>
      </div>
    </div>
</body>
</html>