<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../css/style.videojocs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>GTA V</title>
    <link rel="icon" href="../img/logogta.jpg">

</head>
<body class="gtafondo">
    <header class="gta">
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <a href="../index.html"><p>Inicio</p></a>
              </div>
              <div class="col">
                <p id="titulo1"> GTA V</p>
              </div>
              <div class="col">
                <a href="./videojoc3.html"><p>Siguiente Juego --></p></a>
              </div>
            </div>
          </div>
    </header>
    <br> 
    <div class="fila1">
      <div col-izq>
        <img id="fotoprincipal2" src="../img/GTA.png">
      </div>
      
      <div class="col-der">
          <p id="gtaini">Precio: 20€</p>
          <p id="textogta">Cuando un joven estafador callejero, un ladrón de bancos retirado y un psicópata aterrador se ven involucrados con lo peor y más desquiciado del mundo criminal, el gobierno de los EE. UU. y la industria del espectáculo, deberán llevar a cabo una serie de peligrosos golpes para sobrevivir en una ciudad implacable en la que no pueden confiar en nadie. Y mucho menos los unos en los otros. Disfruta de GTA Online, un universo dinámico y en constante evolución para hasta 30 jugadores, donde podrás pasar de ser un estafador callejero a convertirte en el capo de tu propio imperio criminal.</p>
          <iframe class="video2" src="https://www.youtube.com/embed/QkkoHAzjnUs?si=2uC4ZXjvr0teQ8x-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      </div>
      <br>
    </div>
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <p>Valoración:</p>
              <img src="../img/estrellas-300x133.webp" class="valoracion"> </div>
          <div class="col">
            <p>PEGI:</p>
            <img src="../img/pegi18.jpg" class="pegi">
          </div>
          <div class="col">
            <p>Compralo aqui!!</p>
            <a href="https://www.game.es/VIDEOJUEGOS/ACCION/PLAYSTATION-5/GRAND-THEFT-AUTO-V/201389"><img src="../img/game.png" class="game"></a>
          </div>
        </div>
      </div>
</body>
</html>
